<div class="main-container">
<div class="container">
  <div class="row">
    <section class="bg all_reviews">
    <%= render :partial => 'spree/shared/reviews' %>
    </section>
</div>
</div>
</div>

