<% if product.reviews_count > 0 %>
  <div class="rating">
    <%= render :partial => "spree/reviews/stars", :locals => {:stars => product.stars} %>
    <% if show_ratings_count%>
      <% if product.reviews.count > 0 %>
        <a href="#reviews"><%= text_for_review_count(product.reviews) %></a>
      <% end %>
    <% end %>
  </div>
<%end%>
