<div class="rating">
  <% if try_spree_current_user %>
  <% if @rating_review.rating %>
    <p>Your rating</p>
  <% else %>
    <p>Rate this product</p>
  <%end%>
  <%= form_for @rating_review, :url => product_ratings_path(@product), :html => {:method => :post} do |f| %>
    <%= render :partial => "spree/reviews/stars", :locals => {:stars => @rating_review.rating, :edit_enabled => true} %>
  <% end %>
  <% else %>
    <p class="login_to_rate"> Please <a href=<%= login_path %>>login</a> to rate</p>
  <% end %>
</div>
